
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;

    background-image: url("./images/space2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

h1:hover{
    color : yellowgreen;
}

.logo {
    text-align: center;
    font-size: 48px;
    color: #00cfff;
    margin-top: 20px;
    text-shadow: 0 0 10px #00cfff;
}


.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.search-bar {
    width: 400px;
    padding: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.8);
    color: black;
}


.profile-icon {
    margin-left: 20px;
}

.profile-icon img {
    width: 40px;
    height: 40px;
}


.sidebar {
    position: absolute;
    left: 60px;
    top: 200px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 18px 0;
    font-size: 18px;
    cursor: pointer;
}

.sidebar li:hover {
    color: #098eac;
}

.highlight {
    font-style: italic;
    font-weight: bold;
}


.fun-fact {
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: aliceblue;
}

.content-page {
    margin-left: 0px;
    background-image:url("./images/ss1.webp");
    background-size: contain;
    background-position: top center;
    background-repeat: repeat-y;
    padding: 40px;
    min-height: 400vh;
}

.logo_s {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 0 0 10px #00cfff;
}

.fact_s {
    margin-top: 20px;
    font-size: 18px;
    color: aliceblue;
    text-align: center;
}

.planet {
    background: rgba(0,0,0,0.6);
    padding: 10px;
    margin: 8px;
    width: 150px;
    cursor: pointer;
    list-style: none;
}

.planet:hover {
    background: #f20303;
}

#planet-info {
    margin-top: 0px;
    text-align: center;
    height: 100px;
    font-size: 18px;
}

.back-btn {
    color: #00cfff;
    text-decoration: none;
}


.logo_mo {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 0 0 10px #00cfff;
}

.logo_mo:hover {
    color: #00cfff;
}

.Orion img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.Pulsar img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.Quasar img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.StarCluster img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.GalaxyCluster img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.IntergalacticMedium img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.CosmicFilaments img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.Superclusters img{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.cosmos-container
{
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("./images/n3.jpg");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: contain;
    margin-top: 0;
    min-height: 100vh;
    text-align: center;
}


.cosmos-card
{

    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    text-align: center;
}

.cosmos-card:hover
{
    transform: scale(1.005);
    color: black;
}

.exo-header
{
    background: black;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.exo-header h8
{
    margin: 0;
    font-size: 34px;
}

#exoContainer
{
    background: linear-gradient(to bottom, #020111, #000000);
    padding: 50px 0;
}

.exo-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    color: white;
    min-height: 350px;
}

.exo-section:nth-child(even)
{
    flex-direction: row-reverse;
    background: rgba(255,255,255,0.03);
}

.exo-text
{
    width: 50%;
}

.exo-text h2
{
    font-size: 28px;
    margin-bottom: 15px;
    color: #4fc3ff;
}

.exo-text p
{
    font-size: 16px;
    line-height: 1.6;
}

.exo-image
{
    width: 40%;
    text-align: center;
}

.exo-image img
{
    width: 100%;
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(79,195,255,0.4);
    transition: 0.3s;
}

.exo-image img:hover
{
    transform: scale(1.05);
}